#happy {
    width: 100px;
    height: 100px;
    background-image: url("images/bocchi-happy-button.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 120px;
    top: -120px;
    padding: 0;
    margin: auto;
}

#sad {
    width: 100px;
    height: 100px;
    background-image: url("images/bocchi-sad-button.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 220px;
    top: -220px;
    padding: 0;
    margin: auto;
}

#confused {
    width: 100px;
    height: 100px;
    background-image: url("images/bocchi-confused-button.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 320px;
    top: -320px;
    padding: 0;
    margin: auto;
}

#output {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    border: 1px;
}

#main_container {
    background-color: black;    
}

#title {
    text-align: center;
    position: relative;
    top: 100px;
}

#instructions {
    text-align: center;
    position: relative;
    top: -500px;
}